<div class="about">
  <p>Wherewolf UK is split across four groups in the South of England.</p>
  <p>We all play games on a regular basis in our local cities, and meet up twice a year for larger events such as <a href="http://www.meetup.com/The-Werewolf-Festival-2016/">Wherewolfest</a> in the summer, and Wherewolfcon in the winter.</p>

  <hr>
  
  <h3>Brighton</h3>
  <img class="group-img" src="img/caxton arms.png" />
  <div class="group-desc">
    <p>The Brighton group is one of the largest of the Wherewolf UK groups, meeting at the <a href="https://www.google.co.uk/maps/place/Caxton+Arms/@50.8267775,-0.1430139,17z/" target="_blank">Caxton Arms</a> every Monday night to play.</p>
    <p>Find out more on the <a href="http://www.meetup.com/Brighton-Wherewolf-and-Mafia-Games/">Brighton Meetup page</a></p>
  </div>
  
  <hr>

  <h3>Bristol</h3>
  <img class="group-img" src="img/ship inn.jpg" />
  <div class="group-desc">
    <p>The Bristol group is another of the larger Wherewolf UK groups, meeting at the <a href="https://www.google.co.uk/maps/place/The+Ship+Inn/@51.4557176,-2.5988422,17z" target="_blank">Ship Inn</a> on alternating Mondays and Sundays. Best to check the calendar to find out when they'll be there!</p>
    <p>Find out more on the <a href="http://www.meetup.com/Werewolf-the-Social-Deduction-game-Bristol/">Bristol Meetup page</a></p>
  </div>
  
  <hr>

  <h3>Oxford</h3>
  <img class="group-img" src="img/kite inn.jpg" />
  <div class="group-desc">
    <p>The Oxford group meets once a fortnight on Mondays or Wednesdays at the <a href="https://www.google.co.uk/maps/place/Kite+Inn/@51.7517238,-1.2712156,17z" target="_blank">Kite Inn</a>. Make sure to check the calendar to find the next event!</p>
	<p>Find out more on the <a href="http://www.meetup.com/Oxford-Wherewolf/">Oxford Meetup page</a></p>
  </div>
  
  <hr>

  <h3>London</h3>
  <img class="group-img" src="img/chris inn.jpg" />
  <div class="group-desc">
    <p>The London group meets at <a href="https://www.google.co.uk/maps/search/St+Christopher's+Inn+Pub/@51.5037709,-0.0905931,17z" target="_blank">St. Christopher's Inn</a>. Make sure to check the calendar to find the next event!</p>
	<p>Find out more on the <a href="http://www.meetup.com/LondonWherewolf/">London Meetup page</a></p>
  </div>
</div>