<div class="home">
  <p>Welcome to Wherewolf UK, home of the social deduction game.</p>
  <p>Similar to Mafia and Ultimate Werewolf, Wherewolf pits villagers against wolves and other creatures of the night, fighting for their lives.</p>
  <div class="roles">
    <img class="role" src="img/Clairvoyant.jpg" />
    <img class="role" src="img/PackWolf.jpg" />
    <img class="role" src="img/Executioner.jpg" />
  </div>
  <p>Players are secretly assigned a role, and have to use both intuition and diplomacy to help their side win.</p>
  <p>Are you ready to take sides?</p>
</div>
