body {
  background: black;
  font-family: tahoma, sans serif;
  font-size: 16pt;
  color: white;
}

a {
  color: #8B2323;
  text-decoration: none;
}

/* Header */

header {
  border-bottom: white 1px solid;
  height: 150px;
}

header .logo {
  width: 150px;
  height: 150px;
}

.menu {
  display: flex;
  padding: 0;
}

.menu li {
  float: right;
  display: flex;
  width: 20%;
  align-items: flex-end;
  justify-content: center;
}

.menu li.active a {
  color: white;
}

.menu li a {
  text-decoration: none;
  font-size: 1em;
  padding-bottom: 15px;
}

.alphawolf-img {
  float: left;
  width: 200px;
}

@media screen and (max-width: 640px) {
  .alphawolf-img {
    display: none;
  }
}

/* Main page */

.content {
  margin-left: 300px;
  margin-right: 100px;
}

.content div {
  min-height: 1em;
}

/* About page */
.about hr {
  clear: both;
  width: 200px;
  border: 0;
  height: 1px;
  background: #888;
  margin-top: 30px;
}

.about h3 {
  text-decoration: underline;
}

.about .group-img {
  float: right;
  max-width: 400px;
  max-height: 200px;
  margin-bottom: 30px;
}

.about .group-desc {
  margin-right: 400px;
}
